@import url('https://fonts.cdnfonts.com/css/qerginas-frenchstyle-script');
@import url('https://fonts.cdnfonts.com/css/quentty');
*{
    margin:0;
    padding: 0px;
    box-sizing: border-box;
}

.first{
    background-image: url("assets/back.png");
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.4);

}
.second{
    opacity: 0;
    position: relative;
}

.three{
    opacity: 0;
}
section{
    overflow: hidden;
    position: relative;
    height: 100svh;
}

#arch{
    @media screen and (max-width:450px) {
        width: 120vw;
    }
    position:relative;
    top:10vw;
    opacity: 85%;
    left:-50px;
    z-index: 2;
}

.foreground{
    position: relative;
    z-index: 100;
}
.names{
    position: relative;
    opacity: 0;
    translate: 2vw -9vh;
    font-size: 2em;
    height: 50px;
    width: 100%;
    font-family:'Quentty';
}

.title{
    translate:0px 2vh;
    display: flex;
    justify-content: center;
    font-size: 5vh;
    font-family: "Qerginas Frenchstyle Script";
    white-space: pre-wrap;
    line-height:2.8cap;
}

#flowers{
    position: relative;
    bottom:0vh;
    width: 25vw;
    transform:translate(32vw,-5vh) rotate(270deg);
    opacity: 70%;
}

.background{
    position:relative;
    display: flex;
    justify-content: center;
    bottom:67.72vh;
    left:30vw;
    opacity: 85%;
    width:260px;
    height:260px;
    scale: 1.3;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
    z-index: 1;
    background-image: url("assets/WhatsApp Image 2026-08-28 at 2.41.46 PM.png");
    background-size:contain;
    background-repeat: no-repeat;
}

.details{
    position: absolute;
    display:grid;
    justify-content:space-evenly;
    align-items:center;
    text-align: center;
    margin-top: 10vh;
    height: 250px;
    width: 100%;
    font-size: 8vw;
    font-family: "Qerginas Frenchstyle Script";
    }

#engagement{
    font-size: 15vw;
}

#Wedding{
    font-size: 20vw;
}

.three{
    .details{
    margin-top: 15vh;
    letter-spacing: 1.5px;
    }
}